<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/9f4e23b1-82f3-43b2-9ad7-910d38cffd75/resourcegroups/YC2207HardloopApp/providers/Microsoft.Web/sites/BackendtestenAzure20220801102134</ResourceId>
    <ResourceGroup>YC2207HardloopApp</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://backendtestenazure20220801102134.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d3e45bc3-8789-4732-bcd4-a69ba2a97cdb</ProjectGuid>
    <PublishUrl>https://backendtestenazure20220801102134.scm.azurewebsites.net/</PublishUrl>
    <UserName>$BackendtestenAzure20220801102134</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>